[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
tests = "coverage run --rcfile=.coveragerc -m tests.testsuite"
cov-html = "coverage html"
cov-stdout = "coverage report"
lint = "pylint --rcfile=.pylintrc chip8_emulator"

[dev-packages]
coverage = "*"
pylint = "*"

[packages]
pygame = "*"

[requires]
python_version = "3.7"
